{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form" method="post" enctype="multipart/form-data" action={% url 'edit' product.id%}>
                    {% csrf_token %}
                    <div id="shipping-info">
                        <hr>
                        <p>Edit Product:</p>
                        <hr>
                        <div class="form-field">
                            <input class="form-control" type="text" name="Name" value={{ product.name }}>
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="Price" value={{ product.price }}>
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="Barcode" value={{ product.barcode }}>
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="file" name="Image" accept="image/png, image/jpeg"
                                   value={{ product.image }}>
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="Image" accept="image/png, image/jpeg"
                                   value={{ product.image }}>
                        </div>
                    </div>
                    <div class="form-field">
                        <textarea class="form-control" name="description" rows="4" cols="50">{{ product.description }}</textarea>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>

            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
            </div>

        </div>
    </div>
{% endblock content %}