{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form" method="post" enctype="multipart/form-data" action={% url 'manageProducts' %}>
                    {% csrf_token %}
                    <div id="shipping-info">
                        <hr>
                        <p>Add Product:</p>
                        <hr>
                        <div class="form-field">
                            <input class="form-control" type="text" name="Name" placeholder="Name" required>
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="number" step="0.01" name="Price" placeholder="Price" required>
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="Barcode" placeholder="Barcode" required>
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="file" name="Image" accept="image/png, image/jpeg"
                                   placeholder="Image" required>
                        </div>
                    </div>
                    <div class="form-field">
                        <textarea class="form-control" name="description" rows="4" cols="50"
                                  placeholder="Description" required></textarea>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>

            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
            </div>

        </div>
    </div>
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{ product.image_url }}">
                <div class="box-element">
                    <h6><strong>{{ product.name }}</strong></h6>
                    <hr>
                    <a href="{% url 'edit' product.id%}">
                        <button
                                class="btn btn-outline-secondary ">Edit
                        </button>
                    </a>
                    <a class="btn btn-outline-success" href="{% url 'delete' product.id %}">Delete</a>
                    <h4 style="display: inline-block; float: right"><strong>€{{ product.price|floatformat:2 }}</strong>
                    </h4>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}