{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">

                <a class="btn btn-outline-dark" href="{% url 'productList' %}">&#x2190; Continue Shopping</a>

                <br>
                <br>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="box-element" id="form-wrapper">
                <img class="thumbnail" src="{{ product.image_url }}">
                <div class="box-element product">
                    <h4 style="display: inline-block; float: right">
                        <strong>€{{ product.price|floatformat:2 }}</strong>

                    </h4>
                </div>

            </div>

        </div>

        <div class="col-lg-8">
            <div class="box-element">
                <h3>Product description</h3>
                <hr>
                <div class="cart-row">
                    <p>{{ product.description }}</p>
                </div>

                <button data-product="{{ product.id }}" data-action="add"
                        class="btn btn-outline-secondary add-btn update-btn add-to-cart">Add to Cart
                </button>
                <hr>
                <p>In stock, ready to ship</p>
                <hr>
                <p>Next working day delivery* and 30 day returns</p>
                <hr>
                <p>Pay in 3 instalments with Klarna</p>
            </div>
        </div>
    </div>
{% endblock content %}