{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="row">
    {% if products.count == 0 and search %}
        <hr>
        <h4>No result found for <strong>"{{ search }}"</strong> </h4>
    {% endif %}
        {% for product in products %}
            <div class="col-lg-4">
                <a href="{% url 'productPage' product.id %}">
                    <img class="thumbnail" src="{{ product.image_url }}">
                    <div class="box-element product">
                        <h6><strong>{{ product.name }}</strong></h6>
                        <hr>
                        <h4 style="display: inline-block; float: right"><strong>€{{ product.price|floatformat:2 }}</strong>
                        </h4>

                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock content %}